# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
.DS_Store
# Test binary, build with `go test -c`
*.test
pkg/
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode/
# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
